:root {
    --header-img-width: 48px;
    --header-font-size: 16px;
    --header-icon-size: 32px;
}

.page  {
    background-color: rgb(58, 30, 39);
    min-height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.header {
    width: 32px;
    height: 100vh;
    
    top: 0;
    left: 0;
    position: fixed;
    padding: 0em 1em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: hidden;
}

.header:hover {
    width: 200px;
}

.header-logo {
    width: var(--header-img-width);
    height: var(--header-img-width);

    align-self: start;
    margin-top: 1em;
}

nav {
    flex: 1;
    gap: 1em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.nav-container {
    all: unset;
    width: 200px;
    color: white;
    border-radius: 8px;
    padding: 8px;
    gap: 16px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.nav-container:hover {
    width: 200px;
    background-color: palevioletred;
    color: white;
    font-weight: bold;
}

.nav-icon {
    width: var(--header-icon-size);
    height: var(--header-icon-size);
}

.profile-border {
    width: var(--header-icon-size);
    height: var(--header-icon-size);
    border-radius: 50%;
    padding: 2px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-profile .profile-border{
    background: linear-gradient(90deg, #ff7a18,#ff0066,#8a2be2);
}

#header-profile-img {
    width: var(--header-icon-size);
    height: var(--header-icon-size);
    border-radius: 50%;
    padding: 2px;
    background: transparent;
}

#logout {

    margin-bottom: 1em;
}

.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
}