:root {
  --text: #ffffff;
  --text-h: #08060d;
  --bg: rgb(58, 30, 39);;
  --border: #e5e4e7;
  --accent: palevioletred;
  --accent-soft: rgb(186, 95, 125);
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  line-height: 1.5;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

label {
  position: absolute;
  padding: 0em 1rem;
  user-select: none;
  pointer-events: none;

  transition: all 0.2s ease;
}

input {
  all:unset;
  flex: 1;
  min-width: 100px;
  min-height: 25px;

  padding: 0em 1rem;
  padding-top: 1rem;
}

input:not(:placeholder-shown) + label {
  padding-bottom: 2rem;
  font-size: 14px;
}

.input-row {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.input-column {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.input-container {
  flex: 1;
  max-height: 75px;
  background-color: transparent;
  border: solid 1px palevioletred;
  border-radius: 1em;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.input-container:hover {
  border: solid 1px white;
}
.input-container:focus {
  border: solid 1px white;
}

.input-container:focus-within label {
  padding-bottom: 2rem;
  font-size: 14px;
}